.page94 {
  padding: 4px 4px 56px 4px;
}

.page94 * {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    vertical-align: baseline;
    line-height: 1;
}

.page94 .content-container p {
  line-height: 1.3;
}